name: NPM CD workflow

on:
  push:
    branches:
      - main
      - beta
      - alpha

jobs:
  runPostTranslations:
    uses: ./.github/workflows/CI_PR_merge_checks.yml
  releaseAndBumpVersion:
    needs: runPostTranslations
    name: Publish the package
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 16
        uses: actions/setup-node@v1
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/

      - name: Configure Github credentials
        run: |
          git config --global user.name "Github"
          git config --global user.email "github@faire.com"

      - run: |
          yarn install
          yarn build

      - name: Run semantic release (release + bump version)
        run: npx semantic-release --dry-run
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
